.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* signup */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
  display: flex;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  justify-content: space-around;
}

.logo {
  margin: 25px;
}

.progress-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.indicator {
  width: 180px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  background: white;
  border: 2px solid #a4a4a4;
  vertical-align: middle;
  position: relative;
  color: #a4a4a4;
  padding-top: 10px;
}

.indicator.active {
  background: #a4a4a4;
  color: #fff;
}

.line {
  width: 60px;
  margin: 0 10px;
  border-top: 2.5px dashed #a4a4a4;
}

#login-logo {
  width: 40px;
  height: 40px;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  padding: 30px;
  margin: 20px;
justify-content: center;
align-items: center;
text-align: center;
}

.signup-form input {
  width: 300px;
  padding: 20px;
  margin-bottom: 30px;
  border: 2px solid #a4a4a4;
  border-radius: 5px;
  display: block;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
}

.move-button {
  width: 200px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  margin: 0 40px;
}

.move-button:hover {
  background: #424242;
}

.icon {
  padding-right: 10px;
  padding-bottom: 20px;
}

.icon img {
  width: 35px;
  height: 35px;
}

.signup-form select {
  width: 345px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #a4a4a4;
  border-radius: 5px;
  display: block;
}

.completion-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.completion-message p {
  font-size: 25px;
  color: #000;
  margin: 150px;
  text-align: center;
}

.custom-file-upload {
  border: 2px solid #a4a4a4;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f7f7f7;
  margin-bottom: 20px;
}

.hidden-file-input {
  display: none;
}

.upload-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.upload-icon {
  width: 35px;
  height: 35px;
}

.input-box span {
  display: flex;
  align-items: center;
}

.signup-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-upload {
  margin-right: 20px;
  display: flex;
  justify-content: center; 
}

.upload-area {
  border: 2px solid #a4a4a4;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.upload-area img {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

.upload-area p {
  margin: 0;
  color: #a4a4a4;
}